@use '../../styles/mixins.scss';

.component {
	display: flex;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.large {
	@include mixins.fluidMaxSize(1280);
}

.medium {
	@include mixins.fluidMaxSize(1140);
}

.small {
	@include mixins.fluidMaxSize(1080);
}
