@use '../../styles/mixins.scss';
@use '../../styles/breakpoints.scss';

.component {
	@apply  bg-slate-200 rounded-xl shadow-sm text-center p-5 flex flex-col justify-between;

	width: calc(25% - 15px);
	margin-bottom: 20px;

	@include mixins.media-w(breakpoints.$laptop) {
		width: calc(33% - 15px);
	}

	@include mixins.media-w(breakpoints.$laptop) {
		width: calc(50% - 5px);
		margin-bottom: 10px;
	}
}

.imageWrapper {
	@apply text-center w-full h-32 relative mb-4;

}

.image {
	@apply rounded-xl w-auto ml-auto mr-auto;

	width: auto !important;
}

.body {
	@apply flex flex-col items-center justify-center;
}

.title {
	@apply text-slate-700 font-medium text-sm;
}

.price {
	@apply text-sm text-slate-800 font-bold pt-1 pb-3;
}

.button {
	@apply text-sm bg-white rounded-xl w-3/4 mx-auto mt-auto block p-1 transition-all;

	&:not(.disabled):hover {
		@apply bg-slate-400;
	}
}

.disabled {
	@apply bg-slate-300 text-slate-400;
}