@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mixins';
@import 'breakpoints';
@import 'colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	@apply bg-slate-200 font-sans text-xs text-zinc-900;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
	list-style-type: none;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

input,
button {
	color: inherit;
	border: none;
	outline: none;
	background-color: transparent;
	font-family: inherit;
}

textarea {
	overflow: auto;
	resize: vertical;
	border: none;
	outline: none;
	box-shadow: none;
}

svg {
	width: 100% !important;
  height: 100% !important;
}

#__next {
	display: flex;
	overflow-x: hidden;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
}

main {
	flex-grow: 1;
	width: 100%;
}
