.pagination {
	display: flex;
	justify-content: space-between;
	list-style: none;
	cursor: pointer;
	max-width: max-content;
	margin: 40px auto 0;
}

.pagination li {
	margin-right: 8px;

	&:last-child {
		margin-right: 0;
	}
}

.pagination a {
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid transparent !important;
	color:#1a202c;
}

.pagination__link {
	font-weight: bold;
}

.pagination__link--active a {
	background: #edf2f6;
}

.pagination__link--disabled a {
	color: rgb(180 178 187);
	border: 1px solid rgb(198 197 202);
}

