@use '../../styles/mixins.scss';
@use '../../styles/breakpoints.scss';

.button {
	@apply rounded-full bg-stone-800 text-white p-2 block w-8 z-50 relative;
}

.dropdown {
	@apply bg-white rounded-t-xl shadow-3xl fixed bottom-0 left-0 z-999 py-7 px-5 w-full overflow-y-scroll;

	min-height: 35%;
	max-height: 35%;

	@include mixins.media-w(breakpoints.$laptop) {
		min-height: 25%;
		max-height: 25%;
	}
}

.dropdownItem {
	@apply flex items-center justify-between bg-gray-200 rounded-lg p-4 mb-4
}

.dropdownWrapper {
	@apply w-3/4 flex items-center
}

.dropdownImageWrapper {
	@apply mr-4 relative w-7 h-7
}

.dropdownImage {
	@apply rounded-lg
}

.dropdownBody {
	@apply text-sm mr-4 w-3/4
}

.dropdownTitle {
	@apply overflow-hidden text-ellipsis whitespace-nowrap font-semibold text-slate-600 mb-1
}

.dropdownPrice {
	@apply text-slate-800 font-bold
}

.dropdownButton {
	@apply w-4
}
